
:root {
  --color-primary: #0f172a;
  --color-accent: #22c55e;
  --color-text: #e2e8f0;
  --color-bg: #020617;
  --color-card: #111827;
}


body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
}


.container {
  width: 90%;
  margin: auto;
}


nav {
  background-color: var(--color-primary);
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 10px 0;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
}

nav a {
  color: var(--color-text);
  text-decoration: none;
}


.grid-productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}


.card {
  background-color: var(--color-card);
  border-radius: 8px;
}


.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}


.card-content {
  text-align: center;
}

.card button {
  width: 100%;
  background-color: var(--color-accent);
  border: none;
}


.form-container {
  max-width: 350px;
  margin: 40px auto;
  background-color: var(--color-card);
  text-align: center;
}

.form-container input {
  width: 90%;
  margin: 5px 0;
}

.form-container button {
  width: 90%;
  background-color: var(--color-accent);
  border: none;
}